body {
  margin: 0;
  text-align: center;
  font-family: 'Handlee', cursive;
}
h1 {
  font-size: 90px;
  margin-top: 100px;
  color: #316B83;
}
p {
  font-family: 'Open Sans', sans-serif;
  font-size: 25px;
  color: #79B4B7;
}
.top-container {
  position: relative;
  background-color:#C8F2EF;
  padding-top: 100px;
  margin: 0;
}
.navbar1 {
  display: inline-block;
  position: absolute;
  top: 25px;
  right: 460px;
}
.navbar1:hover {
  color:#316B83;
}
.navbar2 {
  display: inline-block;
  position: absolute;
  top: 25px;
  right: 350px;
}
.navbar2:hover {
  color:#316B83;
}
.navbar3 {
  display: inline-block;
  position: absolute;
  top: 25px;
  right: 230px;
}
.navbar3:hover {
  color:#316B83;
}
.profile-img {
  position: absolute;
  left: 230px;
  top: 25px;
  height: 80px;
  width: 80px;
}
.cloud-1 {
  height: 150px;
  width: 150px;
  position: absolute;
  right: 350px;
}
.cloud-2 {
  height: 150px;
  width: 150px;
  position: absolute;
  left: 350px;
  top: 350px;
}
.mountain {
  padding-top: 10px;
  height: 340px;
  width: 1425px;
}
.middle-container {
  position: relative;
  background-color: #FFF9F9;
}
.profile-img-2 {
  margin-top: 10px;
  text-align: center;
  height: 150px;
  width: 150px;
}
.skill-img {
  border-radius: 100%;
  height: 150px;
  width: 150px;
}
.get-in-touch-img {
  border-radius: 100%;
  height: 150px;
  width: 150px;
}
.table {
  margin-left: auto;
  margin-right: auto;
}
.hobbies-img {
  border-radius: 100%;
  height: 150px;
  width: 150px;
}
h2, h3 {
  color: #316B83;
}
hr {
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  border-color: #D3DEDC;
  padding-top: 20px;
  padding-bottom: 10px;
  width: 3%;
}
.bottom-container {
  background-color: #C8F2EF;
  margin: 0;
}
a {
  display: inline-block;
  padding: 40px;
  color: #79B4B7;
}
.btn {
  text-decoration: none;
}
.footer-link {
  text-decoration: none;
}
.footer-link:hover {
  color: #316B83;
}
.copyright {
  padding-bottom: 20px;
}
